.container-fluid{
  position: relative;
      z-index: 1;
}
.wave{
  position: absolute;
      top: 0;
      right: 0;
      width: 100%; /* adjust this for your design */
      height: 100%;
  background: url('../../../../assest/images/Login-Photoroom.png') no-repeat right top;
  background-size: contain;
  height: 100vh;
  z-index: -1; /* keeps it behind content */

}
form{
h1{
font-family: "Georgia/Heading 2/Family";
}
font-family: "Montserrat/Caption/Family";

}
@media (min-width: 1200px){
  form{
  max-width: 40%;
}
}
