.container-fluid{
  position: relative;
      z-index: 1;
}
.wave{
  position: absolute;
      top: 0;
      right: 0;
      width: 100%; /* adjust this for your design */
      height: 100%;
  background: url('../../../../assets/images/Login-Photoroom.png') no-repeat right top;
  background-size: contain;
  height: 100vh;
  z-index: -1; /* keeps it behind content */

}
