.card-content{

    opacity: 1;
    border-radius: 19px;
    padding: 16px;
    gap: 24px;
    border-width: 1px;
    border: 1px solid #BBC1C7;

}
.appointment{
  font-family: var(--second-font);
}
.block
{

justify-content: space-between;
border-radius: 8px;
padding-top: 8px;
padding-bottom: 8px;
 background: #F5F6F7;
 width: 50px;
 height: 60px;
 cursor: pointer;

}
.block:focus ,.hour:focus ,.active{
  background-color: #145DB8 !important;
  color: white !important;
}
.hour{
border-radius: 10px;
padding: 8px;
gap: 8px;
background: var(--Background-Neutral-Lightest, #F5F6F7);
 cursor: pointer;

}
.summary {
  p{
    color: #05162C;
  }
  i{
    color: #145DB8;
  }
}
.bookbtn{

height: 48;

border-radius: 8px;
border-width: 1px;
padding: 8px;
color: #145DB8;
background-color: white;
// On click
// Open overlay: "Payment";
// Animate: Move in Right;
border: 1px solid  #145DB8 !important;
}
.doctor-card{
  background-color: #F5F6F7;

height: 753;

opacity: 1;
top: 181px;
left: 912px;
border-radius: 20px;
padding-top: 32px;
padding-right: 16px;
padding-bottom: 24px;
padding-left: 16px;
gap: 32px;

}
.chat ,.fav{
  width: 40;
height: 40;
angle: 0 deg;
opacity: 1;
border-radius: 24px;
padding-top: 7px;
padding-right: 8px;
padding-bottom: 7px;
padding-left: 8px;
gap: 8px;
background-color: white;
color: #05162C;
}
.doc-name{
  font-size: 20px;
}
.about{

font-weight: 400;
font-style: Regular;
font-size:20px;
line-height: 100%;
letter-spacing: 0%;

}
.card-data .icon-card{
  width: 56px ;
height: 56px;
opacity: 1;
border-radius:50%;
gap: 12.73px;
background-color: white;
color: #05162C;

}

