.searchFormobile{
    top: 85px;
}

.notification{
    position: fixed;
    top: 5rem;
    right: 0;
    z-index: 3;
}
.usermenu{
    position: fixed;
    top: 5rem;
    right: 0;
    z-index: 3;
}


.ShowSideMenu{
    position: absolute;
    right: 12rem;
        transition: all 0.3s ease-in-out;
}
.CloseSideMenu{
    position: absolute;
    right: -300px;
        transition: all 0.3s ease-in-out;
}

.SideMenuForMobile {
    position: fixed;
    top: -300px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #f8f9fa;
    transition: top 0.3s ease-in-out;
   
}

.SideMenuForMobile.show {
    top: 50%;
    z-index: 3;
 transition: top 0.3s ease-in-out;
 
}



.closed-class {
    transform: scale(0) !important;
    // opacity: 0;
    transition: all 0.3s ease-in-out !important;
}

.open-class {
    transform: scale(1) !important;
    // opacity: 1;
    transition: all 0.3s ease-in-out !important;
   
}
.my-hover:hover {
    background-color: #b2b7bd;
    transition: all 0.3s ease;
    cursor: pointer;
}

.slide-down {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
}

.slide-down.active {
    top: 0;
}


.OpensearchAllDoctors{
    position: fixed;
    left: 47%;
    top: 7%;
    transform: translateX(-50%) scale(1) !important;
    transition: all 0.3s ease-in-out !important;
    z-index: 3;
}
.ClosesearchAllDoctors{
    position: fixed;
    left: 47%;
    top: 7%;
    transform: translateX(-50%) scale(0) !important;
    transition: all 0.3s ease-in-out !important;
        z-index: 3;
}
@media (max-width: 767px){
.OpensearchAllDoctors {
        top: 14%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .OpensearchAllDoctors {
    top: 14%;
    }
}

@media (min-width: 1024px) and (max-width: 1184px){
    .OpensearchAllDoctors {
    top: 14%;

    }
}