.searchFormobile{
    top: 85px;
}

.notification{
    position: fixed;
    top: 5rem;
    right: 0;
    z-index: 3;
}
.usermenu{
    position: fixed;
    top: 5rem;
    right: 0;
    z-index: 3;
}


.ShowSideMenu{
    position: absolute;
    right: 12rem;
        transition: all 0.3s ease-in-out;
}
.CloseSideMenu{
    position: absolute;
    right: -300px;
        transition: all 0.3s ease-in-out;
}

.SideMenuForMobile {
    position: fixed;
    top: -300px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #f8f9fa;
    transition: top 0.3s ease-in-out;
   
}

.SideMenuForMobile.show {
    top: 50%;
    z-index: 3;
 transition: top 0.3s ease-in-out;
 
}

.closed-class {
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.open-class {
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.my-hover:hover {
    background-color: #b2b7bd;
    transition: all 0.3s ease;
    cursor: pointer;
}

