<nav style="background-color: white;" class="d-flex z-3 position-fixed top-0 w-100   justify-content-between px-5 py-3 align-items-center " >
    <!-- logo -->
    <div  [routerLink]="['/home']"   style=" position: relative; cursor: pointer;"  >
        <img src="../../../assets/images/Vector.png" alt="logo">
        <img  style="position: absolute; top: 6px; right: 1px; "  src="../../../assets/images/Vector2.png" alt="logo">
    </div>

<!-- search -->
<div class="d-none search-for-largScreen col-lg-3 col-xl-4 d-xl-flex justify-content-center position-relative align-items-center">
    <img  width="24px" height="24px" class="position-absolute start-0 ms-3 end-50" src="../../../assets/images/search.png" alt="">
 <input [(ngModel)]="valueInputSearch"  style=" background-color: #F5F6F7;  border-radius: 10px; " class="form-control py-2 px-5  no-outline" placeholder="Search about specialty, doctor" type="search">
 </div>


<!-- Side Menu-->

<div [ngClass]="{'CloseSideMenu':!StatusSidebar,'ShowSideMenu':StatusSidebar}"  class="d-none  d-md-flex   flex-row  gap-4 justify-content-center align-items-center p-3">
<button   [routerLink]="['/booking']" style="background-color: #F5F6F7;" class="form-control no-outline rounded-3 p-2">Booking</button>
<button  [routerLink]="['/home']" style="background-color: #F5F6F7;" class="form-control no-outline rounded-3 p-2">Home</button>
<button  [routerLink]="['/chat']" style="background-color: #F5F6F7;" class="form-control no-outline rounded-3 p-2">Chat</button>
</div>



<!-- profile-menu -->
 <div  class="d-flex   justify-content-center align-items-center gap-2 ">
     <button  (click)="fnOpenAndCloseStatusSidebar()" style="background-color: #F5F6F7;" class="rounded-3 d-none  d-md-block p-2  form-control no-outline">
        <!-- <img  [src]="StatusSidebar:'../../../assets/images/list.png'||'../../../assets/images/close.png',"  alt=""> -->
         <img  [src]="StatusSidebar ? '../../../assets/images/close.png' : '../../../assets/images/list.png'"  alt="">

     </button>

     <button (click)="  fnOpenAndCloseStatusSidebarForMobile()" style="background-color: #F5F6F7;" class="rounded-3  d-md-none p-2  form-control no-outline">
        <img src="../../../assets/images/list.png" alt="">
     </button>

     <button (click)="fnOpenAndCloseNotification()" style="background-color: #F5F6F7;" class="rounded-3 p-2 position-relative  form-control no-outline">
        <img src="../../../assets/images/Bell.png" alt="">
    @for (notification of _statusNotification.notifications(); track $index) {

        <span *ngIf="notification.isRead === false" class="bg-danger rounded-circle position-absolute" style="width:12px; height:12px; top:-2px; right:-2px;"></span>
    }
     </button>

        <img  (click)="fnOpenAndCloseStatusUserMenu()" style="cursor: pointer;" width="" height="35px" class="rounded-circle " src="../../../assets/images/profile.png" alt="">

 </div>


</nav>

<!-- search for mobile -->
<div class="searchFormobile z-3 col-11 col-md-8 d-flex d-xl-none justify-content-center  align-items-center position-fixed  start-50 translate-middle">
  <img width="24px" height="24px" class="position-absolute start-0 ms-3" src="../../../assets/images/search.png" alt="">
  <input   [(ngModel)]="valueInputSearch"
    style="background-color: #F5F6F7; border-radius: 10px;"
    class="form-control py-2 shadow-sm px-5 no-outline"
    placeholder="specialty, doctor"
    type="search"
  >
</div>




<!-- notification -->
 <div [ngClass]="{'closed-class':!StatusNotification , 'open-class':StatusNotification}" class="notification bg-white   shadow rounded-5 " >
   <div style="background-color: #F5F6F7;" class=" rounded-top-2 col-12  mb-5 position-fixed top-0 d-flex justify-content-center align-items-center p-2">
        <p>Your Notification</p>
    </div>

   <div style="height: 500px; " class=" d-flex mt-5   col-12 col-md-auto  overflow-y-scroll  justify-content-start flex-column align-items-start gap-2  p-2">

    <div style="cursor: pointer;" class=" d-flex flex-column gap-1 justify-content-center  align-items-center ">
    @for (notification of _statusNotification.notifications(); track notification.id) {
<div (click)="ReadNotification(notification)"  [ngClass]="{'parentNotification':!notification.isRead}" class=" border col-12 col-md-9 col-lg-12 rounded-4 d-flex justify-content-start mt-1 align-items-start p-1 gap-3"  >

            <img class="rounded-circle" [src]="'../../../assets/images/notification/Frame1.png'" alt="" srcset="">
            <div class="d-flex flex-column col-9 justify-content-center align-items-center ">
                  <p class="">{{notification.createdAt|date:'dd/MM/yyyy'}}</p>
                  <p style="color:#6D7379 ;" class="">{{notification.content}}</p>
            </div>
  </div>
      }
 </div>

   @if (_statusNotification.notifications().length === 0) {
 <div class="d-flex h-100 flex-column gap-2 justify-content-center align-items-center">

  <img class="w-25" src="../../../assets/images/notification.png" alt="">

  <h3 style="color: #6D7379;">No notifications available</h3>

 </div>
 }

 </div>
</div>





 <!-- User Menu -->
   <div [ngClass]="{'closed-class':!StatusUserMenu ,'open-class':StatusUserMenu}" style="background-color: #F5F6F7;" class="usermenu d-flex p-3   shadow rounded-5 col-12 col-md-5 col-lg-4 col-xl-3 overflow-y-auto  justify-content-center flex-column align-items-center gap-3 z-3 p-2">

    <div class="d-flex justify-content-evenly col-12 align-items-center gap-2">
        <img [routerLink]="['/profile']" style="cursor: pointer; width: 40px;" src="../../../assets/images/profile.png" alt="">
        <div class="d-flex flex-column justify-content-center align-items-center">
             <p class="fw-bold">Seif Mohamed</p>
             <p (click)="Location()" style="color: #6D7379; cursor: pointer;"><img src="../../../assets/images/userMenu/Location.png" alt="">{{locationName || 'Location access denied'}}</p>
        </div>
   <a style="cursor: pointer;" href=""><img src="../../../assets/images/userMenu/setting.png" alt=""></a>

    </div>


    <div [routerLink]="['/payment']" class="d-flex justify-content-between my-hover col-12 p-3 rounded-5  align-items-center">
      <img src="../../../assets/images/userMenu/Banknote 3.png" alt="">
      <p>Payment Method</p>
      <img  class="h-100 " src="../../../assets/images/userMenu/arrow.png" alt="">
    </div>


    <div [routerLink]="['/favorite']" class="d-flex justify-content-between my-hover col-12 p-3 rounded-5  align-items-center">
      <img src="../../../assets/images/userMenu/heart.png" alt="">
      <p>Favorite</p>
      <img  class="h-100 " src="../../../assets/images/userMenu/arrow.png" alt="">
    </div>

       <div class="d-flex justify-content-between my-hover col-12 p-3 rounded-5  align-items-center">
      <img src="../../../assets/images/userMenu/Settings2.png" alt="">
      <p>Settings</p>
      <img  class="h-100 " src="../../../assets/images/userMenu/arrow.png" alt="">
    </div>


       <div class="d-flex justify-content-between my-hover col-12 p-3 rounded-5  align-items-center">
      <img src="../../../assets/images/userMenu/lock.png" alt="">
      <p>Privacy Policy</p>
      <img  class="h-100 " src="../../../assets/images/userMenu/arrow.png" alt="">
    </div>


       <div class="d-flex justify-content-between my-hover col-12 p-3 rounded-5  align-items-center"
       (click)="logout()"
       >
      <img src="../../../assets/images/userMenu/Logout 4.png" alt="">
      <p style="color: #FC4B4E;">Log out</p>
      <img  class="h-100 " src="../../../assets/images/userMenu/arrow.png" alt="">
    </div>
   </div>


<!-- div sidebar for mobile -->

<div
  [ngClass]="{
    'slide-down': true,
    'active': StatusSidebarForMobile
  }"
  class="bg-white d-flex d-md-none flex-column gap-4 col-12 justify-content-center align-items-start p-3 position-fixed">

  <button  (click)="  fnOpenAndCloseStatusSidebarForMobile()" [routerLink]="['/booking']" class="form-control border-bottom no-outline rounded-3 p-2">Booking</button>
  <button (click)="  fnOpenAndCloseStatusSidebarForMobile()" [routerLink]="['/home']" class="form-control border-bottom no-outline rounded-3 p-2">Home</button>
  <button (click)="  fnOpenAndCloseStatusSidebarForMobile()" [routerLink]="['/chat']" class="form-control border-bottom no-outline rounded-3 p-2">chat</button>

  <a style="top: 62%;" class=" position-absolute end-50 py-2 -translate-middle-x -translate-middle-y">
    <img (click)="  fnOpenAndCloseStatusSidebarForMobile()" class="w-100" src="../../../assets/images/close.png" alt="">
  </a>
</div>



<!-- div search Doctors -->
 <div [ngClass]="{'OpensearchAllDoctors':valueInputSearch!== '','ClosesearchAllDoctors':valueInputSearch== ''}" class="h-50 overflow-y-auto col-12 col-md-9 col-lg-auto d-flex flex-column align-items-start rounded-3 shadow bg-white">

        @for (doctor of arrSearchAllDorctors | searchAllDoctors:valueInputSearch; track $index) {

    <div [routerLink]="['/appointment',doctor.id]" style="cursor: pointer;" class="d-flex backgroundHover col-12 rounded-4 justify-content-evenly align-items-center gap-1 p-1 col-12 ">
       <img width="80rem" class="bg-secondary rounded-circle" [src]="doctor.imgUrl || 'https://cure-doctor-booking.runasp.net/images/users/doctor1.jpg'" alt="">

       <div class="d-flex flex-column justify-content-center align-items-center p-1">

         <p class="fw-bold">{{doctor.fullName}}</p>
        <p >{{doctor.specialistTitle}}</p>
        <p style="color: #6D7379;">{{doctor.about || 'Senior cardiologist with over 20 years in heart surgery and diagnostics.'}}</p>

       </div>

    </div>
       }
 </div>

