.container-content {
  width: 378px;
  font-family: 'Georgia', serif;
}

.card-container {
  perspective: 1000px;
  width: 380px;
  height: 200px;
  margin-bottom: 1rem;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  color: white;
  padding: 1.5rem;
}

.card-front,
.card-back {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.card-back {
  // background: linear-gradient(135deg, #333, #111);
  transform: rotateY(180deg);
}

.card-number {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.magnetic-strip {
  background: black;
  height: 40px;
  margin-top: 20px;
}

.cvv-box {
  margin-top: 50px;
  text-align: right;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  border-radius: 4px;
  width: 60px;
  float: right;
}

.save-btn {
  background-color: #0056d2;
  border: none;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
}

.save-btn:hover {
  background-color: #0040a8;
}

/* Remove default blue outline on focus */
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}
