<div class="container-fluid">
  <div class="wave d-none d-xl-block"></div>
  <div class="container" width="1200px">
  <p class="text-start pt-5">
    <img src="./assets/images/BsHeartPulse.jpg" alt="Heart Pulse logo" />
  </p>
  <div class="form-container d-flex justify-content-center justify-content-xl-start g-2 ms-xl-5 ps-xl-5 mt-xl-5">
    <form class="overflow-hidden p-5 mt-xl-5 ms-xl-5 d-flex align-items-center justify-content-center flex-column">

      <!-- Uses Email and Password -->
      <div class="header text-center">
          <h1 class="h2 mb-2">Forget your password</h1>
          <p class="text-muted">
            Please enter your email to reset the password
          </p>
      </div>
      <div class="form-controls w-100">
        <div class="form-input mb-4">
          <label class="d-block p-1">Email</label>
          <input class="w-100 border rounded p-2" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-button">
          <a class="btn btn-primary border w-100 d-flex align-items-center justify-content-center p-2 gap-2 mb-3">Reset password</a>
        </div>
      </div>
    <!-- Uses Email and Password/-->
  </form>
  </div>

</div>
</div>
