form{
  min-width: 40%;
h1{
font-family: "Georgia/Heading 2/Family";
}
font-family: "Montserrat/Caption/Family";
}
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 1.5rem 0;
}

.otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.2s;
}

.otp-input:focus {
  border-color: #1d4ed8;
  outline: none;
  box-shadow: 0 0 6px rgba(29, 78, 216, 0.4);
}
