<div class="container-fluid">
  <div class="wave d-none d-xl-block"></div>
  <div class="container" width="1200px">
  <p class="text-start pt-5">
    <img src="./assets/images/BsHeartPulse.jpg" alt="Heart Pulse logo">
  </p>
  <div class="form-container d-flex justify-content-center justify-content-xl-start g-2 ms-xl-5 ps-xl-5 mt-xl-5">
    <form #otpForm="ngForm" (ngSubmit)="onSubmit(otpForm)" class="overflow-hidden p-5 mt-xl-5 ms-xl-5 d-flex align-items-center justify-content-center flex-column">

      <!-- Code Verification -->
      <div class="header text-center">
          <h1 class="h2 mb-2">Code Verification</h1>
          <p class="text-muted">
            Code has been send to your phone number
            <span class="d-block text-primary">Check your phone number</span>
          </p>
      </div>
      <!-- Validation & Timer -->
      <div class="form-controls w-100">
        <div class="otp-inputs">
            <input type="text" maxlength="1" class="otp-input"/>
            <input type="text" maxlength="1" class="otp-input"/>
            <input type="text" maxlength="1" class="otp-input"/>
            <input type="text" maxlength="1" class="otp-input"/>
          </div>
        <div class="counter-container text-center">
          @if(!isFinished()){
            <p>Resend code in <span class="text-primary">{{counter()}}</span> s</p>
          }
          @else{
            <span class="d-block text-danger">Wrong code</span>
            <p class="d-flex justify-content-center align-items-center">
              <span class="btn text-primary">Resend</span> Or <span class="btn text-primary">Enter another phone number</span>
            </p>
          }
        </div>
        <div class="form-button">
          <a class="btn btn-primary border w-100 d-flex align-items-center justify-content-center p-2 gap-2 mb-3">Verify</a>
        </div>
      </div>
      <!-- Validation & Timer/-->
  </form>
  </div>
  <!-- Code Verification/-->
</div>
</div>
