.container{
  width: 400px;
}
.payment-card {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 1rem auto;
}
.add-btn {
  background-color: #0056d2;
  border: none;
  width: 100%;
  max-width: 400px;
  border-radius: 0.5rem;
  color: white;
  padding: 0.75rem;
  font-weight: 500;
}
.add-btn:hover {
  background-color: #0040a8;
}
.invalid{
  background-color:rgba(160, 160, 237, 0.838) ;
}
.confirm-payment-wrapper {
  .btn-confirm {
    background-color: #0d6efd; // matches your primary color
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: none;
    transition: all 0.2s ease;

    &:hover:not(:disabled) {
      background-color: rgba($color: #0d6efd, $alpha: 0.9);
      cursor: pointer;
    }

    &:disabled {
      background-color: #c5c5c5;
      cursor: not-allowed;
    }
  }
}
