<app-main-navbar></app-main-navbar>
<!-- section intro -->
<section style="height: 100vh;" class="introSection position-relative mt-5 ">

<img class="position-absolute  start-50 top-50 translate-middle"  src="../../../assets/images/intro_secton/Ellipse-1.png" alt="">
<img class="position-absolute  start-50 top-50   translate-middle  " src="../../../assets/images/intro_secton/Ellipse-2.png" alt="">
<img class="position-absolute  start-50 top-50   translate-middle " src="../../../assets/images/intro_secton/Ellipse-3.png" alt="">


<!-- location image -->
 <div  class="locationImage d-none  d-md-flex justify-content-center align-items-center flex-column">
    <img  class="w-auto" src="../../../assets/images/intro_secton/location.png" alt="">
 
        <p style="background-color:#F5F6F7 ; " class="m-0 px-5  py-2 rounded-5 ">Doctors near you</p>
 </div>
 

 <!-- arrow image -->

 <div  class="arrowImage d-none  rotate-90 d-md-flex justify-content-center align-items-center ">
    <img  class="rotate-336 w-auto" src="../../../assets/images/intro_secton/arrow.png" alt="">
        <p style="background-color:#F5F6F7 ; " class="m-0 px-4  py-2 rounded-5 ">Book Now</p>
 </div>

<div class=" position-absolute  start-50 top-50 col-12 col-lg-7 p-1 translate-middle d-flex flex-column justify-content-center align-items-center gap-3">

    <div style="background-color: #E8EFF8;" class="d-flex rounded-4 px-3 justify-content-center gap-2 align-items-center ">
        <img class="w-auto "  src="../../../assets/images/stars.png" alt="">
        <p class="m-0">Upgrade your account</p>
    </div>



<h2 class="fw-light text-center text-md-start fs-md-2 fs-xl-1 px-3">
  Find and book top doctors near you
</h2>


    <p style="color: #6D7379;" class="col-12 col-xl-6 p-3  fs-4 lh-base ">
        Easily find top-rated specialists near you and book appointments in just a few clicks. Whether you need an in-person visit consultation, we're here to connect you with the right care—fast, simple, and secure.
    </p>


      <div style="background-color: #E8EFF8;" class="d-flex rounded-5 p-3 justify-content-center gap-2 align-items-center ">
        <img class="w-auto "  src="./images/people.png" alt="">
        <p class="m-0">10k+ happy patients </p>
    </div>


          <div  class="d-flex flex-column flex-md-row rounded-5  p-3 justify-content-center gap-2 gap-md-5 align-items-center ">
            <button style="background-color: #145DB8;" type="button" class=" col-12 col-md-auto btn btn-primary text-white  px-xl-5  py-xl-2 ">Get started</button>
            <button [routerLink]="['/doctorlist']"  type="button" class="btn btn-outline-primary     px-xl-5 col-12 col-md-auto py-xl-2 d-flex align-items-center justify-content-center gap-1 "><img class="w-auto" src="/images/intro_secton/book.png" alt=""> Book Appointment</button>

          </div>


</div>

    <h2 class="fs-1 position-absolute bottom-0 start-50 translate-middle-x">How it works</h2>

</section>


<!-- section How It work -->
 <section class="d-flex flex-column flex-md-row p-1 position-relative z-1 justify-content-center gap-3 align-items-center ">
<!-- box1 -->
  <div class="p-3 col-12 col-md-4 col-xxl-auto  ">
<img class="w-100"  src="../../../assets/images/How_it_work_section/Frame1.png" alt="">
  </div>
  <!-- box2 -->
   <div class="p-3 col-12 col-md-4 col-xxl-auto  ">
<img class="w-100"  src="../../../assets/images/How_it_work_section/Frame2.png" alt="">
  </div>
  <!-- box3 -->
   <div class="p-3 col-12 col-md-4 col-xxl-auto  ">
<img  class="w-100"  src="../../../assets/images/How_it_work_section/Frame3.png" alt="">
  </div>
 </section>



 <!-- section map -->
  <section class="section mt-5 map d-flex flex-column flex-lg-row align-items-center gap-4 justify-content-center p-3 ">
<div class="p-4 col-12 col-lg-6 col-xl-4 ">
<h2 class="fs-3 fs-md-1">Find Care Near You in Seconds</h2>
<p style="color: #6D7379;" class="fw-bold fs-5">Allow location access or choose your city to instantly discover trusted doctors and clinics around you—quick, easy, and local.</p>
<button (click)="Search_By_Location()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-primary mt-2 p-2 d-flex gap-1 justify-content-center align-items-center "><img src="../../../assets/images/sectionMap/search.png" alt="">Search by location</button>
</div>

<div class="p-4 col-12 col-md-6  col-xl-4    ">
<img class="w-100  " src="../../../assets/images/sectionMap/map.png" alt="" srcset="">
</div>


  </section>



<!-- Modal -->
<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<div class="modal-body">
       @for (location of arrSearchByLocation(); track $index) {
      
    <div style="cursor: pointer;" class="d-flex backgroundHover rounded-4 justify-content-evenly align-items-center gap-1 p-1 col-12 ">
       <img width="80rem" class="bg-secondary rounded-circle" [src]="location.imgUrl" alt="">

       <div class="d-flex flex-column justify-content-center align-items-center p-1">

         <p class="fw-bold">{{location.fullName}}</p>
        <p >{{location.address}}</p>
        <p style="color: #6D7379;">{{location.about | cutPragraph}}...</p>

       </div>
      
    </div>
       }
            @if (!arrSearchByLocation().length) {
              <div class="d-flex p-3 justify-content-center flex-column align-items-center gap-4">
                <i class="fa-solid fa-location-crosshairs fa-xl" style="color: #8b9098;"></i>
                  <p style="color: #6D7379;" class="fs-5">No nearby results found</p>
              </div>
                
           }
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



  <!-- benner topRated -->
   <div class="d-flex mt-5 flex-column flex-md-row justify-content-around  ">
    <div class="col-12 col-md-6 ">
      <h2 class="fs-3 fs-md-1 text-center">Top-Rated Doctors Chosen by Patients</h2>
  <p style="color: #6D7379;" class="fw-bold fs-5 text-center">
    Explore our highest-rated doctors, trusted by real patients for their expertise, care, and service. Book with confidence today.
  </p>   
    </div>

<div class="d-flex justify-content-center align-items-center ">
    <button type="button" class="btn  px-5 py-2  btn-outline-primary">Veiw all</button>
</div>


   </div>



   

<!-- doctorSwiber -->

<swiper-container  class="d-flex mt-5 p-2 py-md-4 px-md-5" loop="true"
  autoplay-delay="1000" 
   speed="800"
   breakpoints='{
    "0":   { "slidesPerView": 1, "spaceBetween": 10 },
    "768": { "slidesPerView": 2, "spaceBetween": 11 },
    "1024":{ "slidesPerView": 3, "spaceBetween": 11 }
  }'
  
  
  >
   

  @for(doctors of arrTopRatedDoctors() ; track $index) {
<swiper-slide>
<div class="parent border border-white shadow rounded-4 p-md-3 col-12   col-xl-10 d-flex gap-2  flex-column ">
    <div class="d-flex justify-content-evenly align-items-center  gap-3">
      <img   style=" height: 120px;"  class="rounded-4" [src]="doctors.imgUrl" alt="">  
 
 <!-- name doctor and hospital -->
  <div class="d-flex flex-column justify-content-start">
    <p class="fw-semibold">{{doctors.fullName}}</p>
    <p style="color: #6D7379;">{{doctors.address}}</p>

    <!-- time and stars -->
    <div class="d-flex justify-content-center  align-items-center gap-3">
        <div class="d-flex  justify-content-center align-items-center gap-1 ">
          <img class="w-100 h-100"  src="../../../assets/images/doctorSwiper/stars.png" alt="">
       <span>{{doctors.rating}}</span>  
        </div>

        <div class="d-flex justify-content-center  align-items-center gap-1 ">
          <img  class=" h-100" src="../../../assets/images/doctorSwiper/Clock Circle.png" alt="">
       <span class="">9:30am - 8:00pm</span>  
        </div>

       
    </div>

 

  </div>
  
    </div>
 <hr>

 <div class="d-flex justify-content-between align-items-center px-1">
<p class="m-0"> Price<span style="color: #6D7379;">/hour</span></p>

<span style="color: #FC4B4E;">${{doctors.price}}</span>
 </div>

<button class="btn-main mt-1 col-12">Book appointment</button>

</div>
</swiper-slide> 
}






</swiper-container>



<!-- section Reviews -->

<section class="d-flex flex-column justify-content-center mt-5 pt-4 align-items-center gap-5">

    <div >
     <h1 class="text-center">
        Reviews<br> That Speak for Themselves 
     </h1>
    </div>


    <div class="d-flex flex-column justify-content-center align-items-center p-2 gap-4" >
      <img class="" src="../../../assets/images/section-review/stars.png" alt="">

      <p style="color: #555B6C;" class="fs-4 text-center">
“Quick and easy booking! I found a<br> great dermatologist near me and<br> booked an appointment in just a<br> few minutes.”
      </p>

      <img class="col-12" src="../../../assets/images/section-review/People.png" alt="">
    </div>
  
</section>



<!-- section questions -->
 <section class="d-flex flex-column justify-content-center align-items-center gap-3 pt-4 px-1 mt-5">
<p style="background-color:#F5F6F7 ; color: #145DB8;" class="m-0 px-5  py-2 rounded-5 ">Frequently Asked Questions</p>

    <h2 class=" text-center fs-md-1">Got Questions ?<br class="d-md-none"> We’ve got Answers!</h2>




<!-- Question 1 -->
<div class="accordion col-12 col-md-8 col-lg-6" id="accordion1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading1">
      <button
        class="accordion-button collapsed fs-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse1"
        aria-expanded="false"
        aria-controls="collapse1"
      >
        What is this app used for?
      </button>
    </h2>
    <div
      id="collapse1"
      class="accordion-collapse collapse"
      aria-labelledby="heading1"
    >
      <div class="accordion-body">
       This app is used to help patients easily find and book appointments with doctors based on specialty, location, and availability. It allows users to search for nearby doctors, view their profiles, and schedule appointments quickly and conveniently.
      </div>
    </div>
  </div>
</div>


<!-- Question 2 -->
<div class="accordion col-12 col-md-8 col-lg-6" id="accordion2">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading2">
      <button
        class="accordion-button collapsed fs-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse2"
        aria-expanded="false"
        aria-controls="collapse2"
      >
        Is the app free to use?
      </button>
    </h2>
    <div
      id="collapse2"
      class="accordion-collapse collapse"
      aria-labelledby="heading2"
    >
      <div class="accordion-body">
Is the app free to use?
Yes, the app is free to use. Patients can search for doctors, view profiles, and book appointments without any cost.
      </div>
    </div>
  </div>
</div>

<!-- Question 3 -->
<div class="accordion col-12 col-md-8 col-lg-6" id="accordion3">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading3">
      <button
        class="accordion-button collapsed fs-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse3"
        aria-expanded="false"
        aria-controls="collapse3"
      >
        How can I find a doctor?
      </button>
    </h2>
    <div
      id="collapse3"
      class="accordion-collapse collapse"
      aria-labelledby="heading3"
    >
      <div class="accordion-body">
       How can I find a doctor?
You can find a doctor by using the search feature in the app. You can search by name, specialty, or location. You can also use the “Search by Location” button to automatically find nearby doctors based on your current position.
      </div>
    </div>
  </div>
</div>

<!-- Question 4 -->
<div class="accordion col-12 col-md-8 col-lg-6" id="accordion4">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading4">
      <button
        class="accordion-button collapsed fs-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse4"
        aria-expanded="false"
        aria-controls="collapse4"
      >
        Can I cancel my appointment?
      </button>
    </h2>
    <div
      id="collapse4"
      class="accordion-collapse collapse"
      aria-labelledby="heading4"
    >
      <div class="accordion-body">
        Can I cancel my appointment?
Yes, you can cancel your appointment at any time. Simply go to your bookings page, select the appointment you want to cancel, and follow the cancellation steps.
      </div>
    </div>
  </div>
</div>

<!-- Question 5 -->
<div class="accordion col-12 col-md-8 col-lg-6" id="accordion5">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading5">
      <button
        class="accordion-button collapsed fs-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse5"
        aria-expanded="false"
        aria-controls="collapse5"
      >
        What payment methods are supported?
      </button>
    </h2>
    <div
      id="collapse5"
      class="accordion-collapse collapse"
      aria-labelledby="heading5"
    >
      <div class="accordion-body">
    What payment methods are supported?
The app supports multiple payment methods, including cash, credit/debit cards, and online payment options depending on the doctor or clinic’s setup.
      </div>
    </div>
  </div>
</div>

<!-- Question 6 -->
<div class="accordion col-12 col-md-8 col-lg-6" id="accordion6">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading6">
      <button
        class="accordion-button collapsed fs-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse6"
        aria-expanded="false"
        aria-controls="collapse6"
      >
        How do I contact customer support?
      </button>
    </h2>
    <div
      id="collapse6"
      class="accordion-collapse collapse"
      aria-labelledby="heading6"
    >
      <div class="accordion-body">
      How do I contact customer support?
You can contact customer support through the “Contact Us” section in the app. You can send a message directly, or use the provided email and phone number for assistance.
      </div>
    </div>
  </div>
</div>

 </section>


<!-- section App Download Banner -->
 <section style="background-color: #6292CF;"  class="App_Dawnload_Banner col-12 col-xxl-9 mt-5 rounded-5 p-3  p-xxl-2 position-relative start-50 translate-middle-x d-flex flex-column flex-lg-row justify-content-evenly align-items-center gap-3">
<div class="d-flex flex-column justify-content-center p-3 align-items-center gap-2 ">
<h2 class="fs-1 text-white">Your Health, One Tap Away</h2>
<p class="fs-5 text-white">
    Book appointments, chat with doctors, and manage your health <br> anytime—right from your phone. Download the app now and stay <br> connected wherever you are.
</p>
<img class="col-12 col-md-7 col-xxl-auto " src="../../../assets/images/App _Download_Banner/store.png" alt="">
</div>


<img class="col-12 col-md-7 col-xxl-auto " src="../../../assets/images/App _Download_Banner/iPhone_12_Pro.png" alt="">


 </section>

 <app-main-footer></app-main-footer>