form{
  min-width: 40%;
h1{
font-family: "Georgia/Heading 2/Family";
}
font-family: "Montserrat/Caption/Family";

}
.invalid{
  background-color:rgba(160, 160, 237, 0.838) ;
}
.dropdown-item.active {
  background-color: #f0f0f0;
}
