/* ============================
   MATERIAL THEME (Angular 20)
   ============================ */
@use '@angular/material' as mat;
// @import 'ngx-toastr/toastr';


/* Apply Material 3 Theme */
// @import 'ngx-toastr/toastr-bs4-alert';
html {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
    ),
    density: 0,
  ));
}




body {
  color-scheme: light;
  font-family: var(--main-font);
  margin: 0;
  font-family: var(--main-font) !important;

    
}



:root {
  --main-color: #145db8;
  --secondary-color: #e8eff8;
  // --main-font: Georgia, "Times New Roman", Times, serif;

  // --main-doc-font: "Noto Sans Georgian", sans-serif;
  // --second-font: "Montserrat", sans-serif;

    --main-font: "Inter", sans-serif;
  
 --title-font: "Poppins", sans-serif;
      --ui-font: "Nunito", sans-serif;
  --main-doc-color: #6D7379;
  --secondary-doc-color: #05162C;
}

// Success Toast
.toast-success {
  background-color: var(--main-color) !important; // الأخضر
  color: #fff !important;
}

// Error Toast
.toast-error {
  background-color: #F44336 !important; // الأحمر
  color: #fff !important;
}

// Info Toast
.toast-info {
  background-color: #2196F3 !important; // الأزرق
  color: #fff !important;
}

// Warning Toast
.toast-warning {
  background-color: #FF9800 !important; // البرتقالي
  color: #fff !important;
}

.btn-main {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 16px;
  padding-inline: 8px;
  padding-block: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-main:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.backgroundHover:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.scale-0 {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.scale-100 {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-top-right {
  top: 12px !important;
  right: 12px !important;
  bottom: auto !important;
  left: auto !important;
}
