

:root {
  --main-color: #145db8;
  --secondary-color: #e8eff8;
  --main-font: Georgia, "Times New Roman", Times, serif;
}


body {
  font-family: var(--main-font);
}
.btn-main {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 16px;
  padding-inline: 8px;
  padding-block: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-main:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

a {
  text-decoration: none;
}
p{
  margin: 0;
}

.scale-0 {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.scale-100 {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

